body {
    background-color: #1C2128;
}

header {
    background-color: #2D333B;
}

footer {
    background-color: #2D333B;
}

.dropdown-menu {
    background-color: #22272E;
}

.dropdown-item {
    color: #A0A3A7;
}

.dropdown-item.active {
    background-color: transparent;
    color: #FFFFFF;
}