.card {
    background-color: #22272E;
    border-color: #3C4148;
    border-width: 0.1rem;
}

.card-footer {
    background-color: #22272E;
    border-width: 0;
}

.card-highlight {
    background-color: #3C4148;
    border-color: #555A61;
}

.card-footer-highlight {
    background-color: #3C4148;
}